{
  "extends": ["standard", "plugin:import/errors", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": ["error", { "commonjs": true }]
  }
}
